/* components.css */
:root {
    --fill-color: #ffffff;
    --fill-number: 0;
}

.svg-container {
    fill: var(--fill-color); /* Changes the fill color of the SVG */
    filter: invert(var(--fill-number));
}

.fa{
    color: #E85C0D;
}
